<!DOCTYPE html>
<html>

<head>
    <title>Lost Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>Lost Items</h1>

    <a href="/">Back to Home</a>

    <hr>

    {% if items %}

    {% for item in items %}

    <div>

        <h3>{{ item["name"] }}</h3>

        <p>Description: {{ item["description"] }}</p>

        <p>Location: {{ item["location"] }}</p>

        <p>Contact: {{ item["contact"] }}</p>

        <p>Date Posted: {{ item["date_posted"] }}</p>

        <hr>

    </div>

    {% endfor %}

    {% else %}

    <p>No lost items found.</p>

    {% endif %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>